<section class=" vh-100 bg-image" style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Easy Housing</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
        </li>
        <li class="nav-item">
        </li>
      </ul>
      <form class="d-flex">
        <label class="form-control me-sm-2=" type="text"> Enter As</label>
        <button routerLink="/buyer" routerLinkActive="active" class="btn btn-secondary m-2 my-2 my-sm-0" type="submit">Buyer</button>
        <button routerLink="/seller" routerLinkActive="active" class="btn btn-secondary m-2 my-2 my-sm-0" type="submit">Seller</button>
      </form>

    </div>
  </div>
</nav>
<router-outlet></router-outlet>
</section>

