<section class="vh-100 bg-image" style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100 ">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-2">Seller</h2>

              <div class="d-flex justify-content-center p-md-2">
                <button routerLink="/seller-login" routerLinkActive="active" type="button" class="btn btn-outline-success btn-block btn-lg gradient-custom m-2 my-2 my-sm-0">Login</button>
                <div class="d-flex justify-content-center">
                  <button routerLink="/seller-register" routerLinkActive="active" type="button" class=" btn btn-outline-success btn-block btn-lg gradient-custom m-2 my-2 my-sm-0">Register</button>
              </div>
                </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
