 <!-- first page -->

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Easy Housing</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
        </li>
        <li class="nav-item">
        </li>
      </ul>
      <form class="d-flex">
        <label class="form-control me-sm-2=" type="text"> Enter As</label>
        <button class="btn btn-secondary m-2 my-2 my-sm-0" type="submit">Buyer</button>
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">seller</button>
      </form>
    </div>
  </div>
</nav> -->

<!-- sellers form -->

<!-- <section class="vh-1000 bg-image" style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100 ">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Seller's Registration Form</h2>

              <form>

                <div class="form-outline mb-4">
                  <input type="text" id="username" class="form-control form-control-lg" />
                  <label class="form-label" for="username">Your User Name</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="Password" class="form-control form-control-lg" />
                  <label class="form-label" for="Password">Your Password</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="firstname" class="form-control form-control-lg" />
                  <label class="form-label" for="username">Your First Name</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="lastname" class="form-control form-control-lg" />
                  <label class="form-label" for="username">Your Last Name</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="date" id="dateofbirth" class="form-control form-control-lg" />
                  <label class="form-label" for="date">Your Date Of Birth</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="number" id="firstname" class="form-control form-control-lg" />
                  <label class="form-label" for="username">Your Phone Number</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="email" id="Email" class="form-control form-control-lg" />
                  <label class="form-label" for="Email">Your Email</label>
                </div>

                <div class="form-check d-flex justify-content-center mb-5">
                  <input
                    class="form-check-input me-2"
                    type="checkbox"
                    value=""
                    id="Checkbox"
                  />
                  <label class="form-check-label" for="Checkbox">
                    I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                  </label>
                </div>

                <div class="d-flex justify-content-center">
                  <button type="button" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="#!" class="fw-bold text-body"><u>Login here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- buyers form -->

<!-- <section class="vh-1000 bg-image" style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100 ">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Buyers's Registration Form</h2>

              <form>

                <div class="form-outline mb-4">
                  <input type="text" id="username" class="form-control form-control-lg" />
                  <label class="form-label" for="username">Your User Name</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="Password" class="form-control form-control-lg" />
                  <label class="form-label" for="Password">Your Password</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="firstname" class="form-control form-control-lg" />
                  <label class="form-label" for="username">Your First Name</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="lastname" class="form-control form-control-lg" />
                  <label class="form-label" for="username">Your Last Name</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="date" id="dateofbirth" class="form-control form-control-lg" />
                  <label class="form-label" for="date">Your Date Of Birth</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="number" id="firstname" class="form-control form-control-lg" />
                  <label class="form-label" for="username">Your Phone Number</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="email" id="Email" class="form-control form-control-lg" />
                  <label class="form-label" for="Email">Your Email</label>
                </div>

                <div class="form-check d-flex justify-content-center mb-5">
                  <input
                    class="form-check-input me-2"
                    type="checkbox"
                    value=""
                    id="Checkbox"
                  />
                  <label class="form-check-label" for="Checkbox">
                    I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                  </label>
                </div>

                <div class="d-flex justify-content-center">
                  <button type="button" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="#!" class="fw-bold text-body"><u>Login here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->


<!-- buyer login page -->

<!-- <section class="vh-100 bg-image" style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100 ">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Buyers's Login</h2>

              <form>

                <div class="form-outline mb-4">
                  <input type="text" id="username" class="form-control form-control-lg" />
                  <label class="form-label" for="username">Your User Name</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="Password" class="form-control form-control-lg" />
                  <label class="form-label" for="Password">Your Password</label>
                </div>

                <div class="form-check d-flex justify-content-center mb-5">
                  <input
                    class="form-check-input me-2"
                    type="checkbox"
                    value=""
                    id="Checkbox"
                  />
                  <label class="form-check-label" for="Checkbox">
                    I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                  </label>
                </div>

                <div class="d-flex justify-content-center">
                  <button type="button" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="#!" class="fw-bold text-body"><u>Login here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- Seller Login page -->

<!-- <section class="vh-100 bg-image" style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100 ">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Sellers's Login</h2>

              <form>

                <div class="form-outline mb-4">
                  <input type="text" id="username" class="form-control form-control-lg" />
                  <label class="form-label" for="username">Your User Name</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="Password" class="form-control form-control-lg" />
                  <label class="form-label" for="Password">Your Password</label>
                </div>

                <div class="form-check d-flex justify-content-center mb-5">
                  <input
                    class="form-check-input me-2"
                    type="checkbox"
                    value=""
                    id="Checkbox"
                  />
                  <label class="form-check-label" for="Checkbox">
                    I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                  </label>
                </div>

                <div class="d-flex justify-content-center">
                  <button type="button" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="#!" class="fw-bold text-body"><u>Login here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
