<section class="vh-100 bg-image" style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100 ">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Buyers's Dashboard</h2>
              <form>
                <label for="state">Search Property by State:</label>
                <select id="state" name="state">
                  <option value="Maharashtra">Maharashtra</option>
                  <option value="Bihar">Bihar</option>
                  <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                  <option value="Andhra Pradesh">Andhra Pradesh</option>
                  <option value="Goa">Goa</option>
                  <option value="Karnataka">Karnataka</option>
                  <option value="Kerala">Kerala</option>
                  <option value="Punjab">Punjab</option>
                  <option value="Rajasthan">Rajasthan</option>
                  <option value="Tamil Nadu">Tamil Nadu</option>
                  <option value="Uttarakhand">Uttarakhand</option>
                  <option value="Uttar Pradesh">Uttar Pradesh</option>
                  <option value="West Bengal">West Bengal</option>
                  <option value="Assam">Assam</option>
                  <option value="Himachal Pradesh">Himachal Pradesh</option>
                  <option value="Sikkim">Sikkim</option>
                  </select>

                  <label for="city">Search Property by City:</label>
                <select id="city" name="city">
                  <option value="Aurangabad">Aurangabad</option>
                  <option value="Patna">Patna</option>
                  <option value="Hawai">Hawai</option>
                  <option value="Tirupati">Tirupati</option>
                  <option value="Goa">Goa</option>
                  <option value="Banglore">Banglore</option>
                  <option value="Kochi">Kochi</option>
                  <option value="Amritsar">Amritsar</option>
                  <option value="Jaipur">Jaipur</option>
                  <option value="Chennai">Chennai</option>
                  <option value="Dehradun">Dehradun</option>
                  <option value="Kanpur">Kanpur</option>
                  <option value="Kolkata">Kolkata</option>
                  <option value="Tezpur">Tezpur</option>
                  <option value="Shimla">Shimla</option>
                  <option value="Gangtok">Gangtok</option>
                  </select>
          </form>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

</section>
